<%= stylesheet_link_tag "sharedocument" %>
<!-- for Popup -->
    <form action="/SendInvitation" class="modalWindow">
        <h1>Invite friends</h1>
        <label for="emailInvite">Enter your friends email address</label>
        <input type="text" id="emailInvite" name="emailInvite">
		<!-- This message should appear if an invalid email address is entered  [Opps looks like you entered an invalid email id]-->
		<div class="formError">
        </div>
        <ul id="addedEmailIds">
        <!--
        <li>prashant@gmail.com <img src="img/emailCloseIcon.png"></li>
        <li>ruben@blendit.com.my<img src="img/emailCloseIcon.png"></li>
        <li>prashant@blendit.com.my<img src="img/emailCloseIcon.png"></li>
        <li>rames@blendit.com.my<img src="img/emailCloseIcon.png"></li>
        -->
        </ul>
      <p class="howToUse">Type an email and press <span class="code">enter</span> and we will add that person to the list of people who will recieve an invite</p>
      <div class="clearfix"></div>
      <a href="#" class="addPersonalMessage">Add a personal message</a>
      <textarea name="personalMessageArea" id="personalMessage"></textarea>
      <a href="#" class="button blue activateModal" id="BtnSendInvitation" >Send invitations</a>
    </form>
  <!--
  <div>
  This content has to appear the first time a person logs in after the sign up
  VersaVault allows you to quickly and easily store and share files. It is as easy as installing the VersaVault desktop client and storing files in the folder.
  </div>
  -->
    <%= javascript_include_tag "jquery-1.6.2.min" %>
    <%= javascript_include_tag "sharedoc" %>
