<div id="login-box-container">
    <div id="center">
        <%= image_tag "Logo-Color.png" %>
        <div id="login-box" class="WarpShadow WLarge WLight">
          <div class="forgot-password-information">
            <h4>Did you forget your password?</h4>
            <p>Enter your email address below and we'll send you password reset instructions.</p>
          </div>
            <%= form_tag(:action => "forgotpassword")  do |f| %>
                <% if @error.nil? %>
                    <fieldset>
                <% else %>
                    <fieldset class="error-fieldset">
                <% end %>
                <label>Enter your email address</label>
                <input type="text" class="login-text lastbox" name="username" maxlength="100" />
                <!-- Message to be shown below the filed which has a problem
                <p>Improper email format</p>
                -->
            </fieldset>
              <span class="menu-button"><a href="#" onclick="document.forms[0].submit();" class="small blue gradient-button">Email password reset instructions</a></span>
            <% end %>
        </div>
    </div>
</div>
