<div id="login-box-container">
    <div id="center">
        <%= image_tag "logo.png" %>
        <div id="login-box">
            <h1>Reset your password</h1>
            <%= form_tag(:action => "createuser")  do |f| %>
                <% unless @error.nil? %>
                <div class="error">
                    <p><%= @error %></p>
                </div>
              <% end %>
            <fieldset>
                <label>Password</label>
                <input type="password" class="login-text" name="password" maxlength="15" />
            </fieldset>
            <fieldset>
                <label>Confirm Password</label>
                <input type="password" class="login-text" name="confirm_password" maxlength="15" />
            </fieldset>
            <fieldset>
                <input type="submit" value="Reset my password">
            </fieldset>
              <% end %>
        </div>
    </div>
</div>
