<div class="loginBox">
    <h1>Reset your password</h1>
    <div class="errorContainer">
        <% unless @error.nil? %>
            <%= @error %>
        <% end %>
    </div>
    <form id="loginForm" action="/setpassword" accept-charset="UTF-8" method="post" >
        <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
        <input type="hidden" value="<%= @user.reset_code %>" name="reset_code" />
        <label>Password</label>
        <input tabindex="1" type="password" name="password" placeholder="Enter your password you signed up with" id="password" class="required" />
        <label>Confirm Password</label>
        <input tabindex="2" type="password" name="confirm_password" placeholder="Enter your password you signed up with" id="confirm_password" class="required" />
    </form>
    <a href="#" onclick="document.forms[0].submit();" class="large button blue">Reset my password</a>
</div>
<%= javascript_include_tag "authentication" %>