<div id="login-box-container">
    <div id="center">
	    <img src="images/logo-color.png" />
        <div id="login-box" class="WarpShadow WLarge WLight">
		    <h1>Status!</h1>
            <fieldset>
                <p><%= @status %></p>
            </fieldset>
        </div>
    </div>
</div>
