<table border="0" cellpadding="0" cellspacing="0" width="98%">
    <tbody>
    <tr>
      <td style="padding: 10px 15px 40px; font-family: Helvetica,Arial,sans-serif; font-size: 16px; line-height: 1.3em; text-align: left;" valign="top">
        <h1 style="font-family: Helvetica,Arial,sans-serif; color: rgb(34, 34, 34); font-size: 28px; line-height: normal; letter-spacing: -1px;">
          You are invited to VersaVault
        </h1>
        <p>Hi <%= @name %>,</p>
        <p>
          <b>Just click this link to go VersaVault</b><br>
          http://versavault.com
        </p>
      </td>
    </tr>
    </tbody>
</table>