<table width="650px" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td align="right" valign="middle" style="padding:0 0 10px 0;" colspan="2">
        <a rel="nofollow" target="_blank" href="http://blendit.com.my/"><img src="http://<link to blendit logo. It has to be absolute it cannot be a realtive path" width="92" height="21" border="0" alt="Blend IT"></a>
      <td>
    </tr>
    <tr>
      <td style="background-color:#ffffff;padding:10px;padding-bottom:20px;text-align:left;" colspan="2">
        <a rel="nofollow" target="_blank" href="http://versavault.com/">
          <img src="<Complete link to a Versa Vault logo. Cannot be a relative path>" width="75" height="62" border="0" alt="Versa Vault" align="left" style="margin-right:10px;">
        </a>
        <h1 style="font-family:Helvetica, sans-serif;font-size:28px;color:#333333;font-weight:bold;margin-bottom:5px;margin-top:15px;">Welcome to Versa Vault</h1>
      </td>
    </tr>
    <tr>
      <td style="padding:15px;font-family:Helvetica, sans-serif;font-size:14px;color:#000000;background-color:#ffffff;text-align:left;" width="300" valign="top">
        Hi <%= @name%>,
        <p>Welcome to Versa Vault and thanks for signing up!</p>
        <span style="color:#cc3333;font-weight:bold;font-size:16px;">Important account information</span>
        <p><b>Sign in to your account:</b><br>
        <a rel="nofollow" target="_blank" href="https://versavault.com/login">https://versavault.com/login</a></p>
        <p><b>Download the Versa Vault Desktop Utility </b><br>
          <a href="http://versavault.com/desktoputility.exe">http://versavault.com/installer</a></p>
      </td>
      <td style="background-color:#ffffcc;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;font-family:Helvetica, sans-serif;font-size:14px;color:#000000;text-align:left;">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td style="padding:15px;font-size:14px;color:#000000;text-align:left;">
                <b>You’re on the free 50 MB plan.<br>
                <a rel="nofollow" target="_blank" href="https://versavault.com/upgrade">Upgrade your account</a>
                for additional benefits including...</b>
                </td>
            </tr>
            </tbody></table>
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody><tr>
                <td style="padding:15px;padding-top:0px;font-size:12px;color:#000000;text-align:left;">
            <p><b>Lots of additional space</b><br>
            One account, a lot of files many projects. Store all your documents in one place.</p>
            <p><b>Many collaborators</b><br>
            Invite a lot more people to help you get those great documents out.</p>
                </td>
              </tr>
            </tbody></table>
            <table cellpadding="0" cellspacing="0" border="0" bgcolor="#ffff66">
              <tbody><tr>
                <td style="padding:15px;font-size:12px;text-align:left;">
                <span style="color:#cc0000;"><b>Special Upgrade Offer:</b></span><br>
                <a rel="nofollow" target="_blank" href="https://snow81us.basecamphq.com/account">Upgrade your account</a> and <b>save $10 on your<br>first month.</b> Use coupon code <b>FREEUP</b> on the upgrade screen.</td>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <tr>
          <td style="padding:15px;padding-top:20px;font-family:Helvetica, sans-serif;font-size:14px;color:#000000;background-color:#ffffff;text-align:left;" colspan="2">
            <p><span style="color:#cc3333;font-weight:bold;font-size:16px;">Upgrade, Downgrade, or Cancel your account anytime by visiting</span><br>
            <a rel="nofollow" target="_blank" href="https://versavault.com/account">https://versavault.com/account</a></p>
          </td>
        </tr>
        <tr>
          <td style="padding:15px;padding-bottom:25px;font-family:Helvetica, sans-serif;font-size:14px;color:#000000;background-color:#ffffff;text-align:left;" colspan="2">
            <p>Thank you for choosing to use Versa Vault to manage and collaborate on your projects online.</p>
            <p>Wishing you the best success,</p>
            <a rel="nofollow" target="_blank" href="http://blendit.com.my/"><img src="<signature image>" width="225" height="100" alt="BlendIT" border="0"></a>
            <p>The Team at <a rel="nofollow" target="_blank" href="http://blendit.com.my/"><span>Blend IT</span></a></p>
          </td>
        </tr>
        <tr>
          <td style="padding:15px;padding-bottom:30px;border-top:1px dashed #999999;border-bottom:1px dashed #999999;font-family:Helvetica, sans-serif;font-size:14px;color:#000000;background-color:#e1f0f6;text-align:left;" colspan="2">
            <span style="color:#cc3333;font-weight:bold;font-size:16px;">Need Help?</span>
            <p>Get your questions answered in our <a rel="nofollow" target="_blank" href="http://versavault.com/help/"><span>Help &amp; FAQs</span></a> section, <a rel="nofollow" target="_blank" href="http://answers.versavault.com"><span>Versa Vault Answers site</span></a>, or email customer support at <a rel="nofollow" target="_blank" href="http://versavault.com/help/support"><span>http://versavault.com/help/support</span></a></p>
          </td>
        </tr>
      </tbody>
</table>